body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00587A; 
    margin: 0;
    padding: 0;
}

form {
    background-color: #E7E7DE;
    border: 1px solid #0000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

div {
    margin-bottom: 20px;
}


input[type="submit"] {
    background-color: #008891;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: rgb(13, 206, 13);;
}

.InicioError {
    background-color: #FF8888;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}
  



